.view {
  margin: 2% 10%;
  padding: 1rem;
  background: rgb(42, 102, 154);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

/* On small screens, stack the grid in a single column instead of two. */
@media only screen and (max-width: 768px) {
  .view {
    grid-template-columns: 1fr;
  }
}

.borough-text {
  background: rgb(115, 225, 249);
  font-weight: 900;
  font-size: 3rem;
  margin: 2rem;
  border-radius: 10px;
  color: rgb(42, 102, 154);
  box-shadow: 10px 10px 8px rgb(42, 102, 154);
}

.borough {
  margin: 2rem;
  padding: 2rem;
  min-height: 25rem;
  /* background: url("../images/map.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}

td,
th {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(62, 139, 255, 0.5);
}

.text {
  margin: 0;
  padding: 6px 12px;
}

.text-header {
  font-size: 1.4rem;
  margin: 0px 0px 0.5rem;
  color: rgba(115, 225, 249);
}

.text-data {
  margin: 0.5rem 0 0;
  font-size: 2rem;
}

.text-label {
  font-size: 0.9rem;
  margin: 0px 0px 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

#map {
  width: 300px;
  padding: 0;
  margin-bottom: 1rem;
}
